<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="techMapper">

<!-- 영업정보  -->
<select id="selectTS_StaffSetProject_S01" parameterType="java.util.Map" resultType="java.util.Map">
	-- selectTS_StaffSetProject_S01
	SELECT PSE.PSE_SEQ,
	       PSE.CONTRACT_NO,
	       PL.CONTRACT_NO_PURCHASE,
	       PPT.PURCHASE_TYPE,
	       P.PROJECT_NAME,
	       CL.CONTRACT_NAME,
	       COM.COMPANY_NAME AS CLIENT_NAME,
	       PL.CONTRACT_NAME AS CONTRACT_PURCHASE_NAME,
	       PSE.RSSC_SEQ,
	       PSE.EMP_NO,
	       VE.EMP_NM AS EMP_NAME,
	       PSE.ROLE_CODE,
	       PSE.LEVEL_CODE,
	       PSE.UNIT_COST,
	       PSE.EXPENSE,
	       PSE.MEN_MONTH,
	       DATE_FORMAT(PSE.START_DATE, '%Y%m%d') AS START_DATE,
	       DATE_FORMAT(PSE.END_PLAN_DATE, '%Y%m%d') AS END_PLAN_DATE,
	       DATE_FORMAT(PSE.END_DATE, '%Y%m%d') AS END_DATE,
	       PSE.NONRESIDENT_FLAG,
	       PSE.FREE_SVC_FLAG,
	       PSE.REMARKS
	FROM    SALES_PROJECT_SI_EMP PSE
	JOIN    V_PSE_PURCHASE_TYPE PPT ON PPT.PSE_SEQ = PSE.PSE_SEQ
	JOIN    SALES_CONTRACT_LIST CL ON PSE.CONTRACT_NO = CL.CONTRACT_NO
	                          AND CL.DELETE_FLAG = '0'
	                          AND CL.CO_CD = #{SERVER_CO_CD}
	JOIN    SALES_PROJECT_LIST P ON CL.PROJECT_CODE = P.PROJECT_CODE
	                       AND P.DELETE_FLAG = '0'
	LEFT JOIN SALES_PURCHASE_LIST PL ON PSE.CONTRACT_NO_PURCHASE = PL.CONTRACT_NO_PURCHASE
	                            AND PL.DELETE_FLAG = '0'
	                            AND PL.CO_CD = #{SERVER_CO_CD}
	LEFT JOIN SALES_COMPANY_LIST COM ON P.CLIENT_CODE = COM.COMPANY_CODE
	LEFT JOIN T_SYTM_USER VE ON PSE.EMP_NO = VE.EMP_NO
	WHERE   PSE.PSE_SEQ = @{PSE_SEQ}
	AND     PSE.DELETE_FLAG = '0';
		  
</select>


<update id="updateTS_StaffSetProject_R01" parameterType="java.util.Map">
	-- updateTS_StaffSetProject_R01
	UPDATE SALES_PROJECT_SI_EMP
	SET 
	    CONTRACT_NO = #{CONTRACT_NO}
	    ,CONTRACT_NO_PURCHASE = #{CONTRACT_NO_PURCHASE}
		<if test="UNIT_COST != null and UNIT_COST != ''">
			,UNIT_COST = #{UNIT_COST}
		</if>
		<if test="EXPENSE != null and EXPENSE != ''">
			,EXPENSE = #{EXPENSE}
		</if>
	    ,MEN_MONTH = #{MEN_MONTH}
		<if test="REMARKS != null and REMARKS != ''">
			,REMARKS = #{REMARKS}
		</if>
		, CHGE_ID 		= #{EMP_NO_SRV}
		, CHGE_DTTM 	= NOW()
		, CHGE_IP 		= #{USER_CON_IPADDR_SRV}
	WHERE PSE_SEQ = #{PSE_SEQ};
</update>

<select id="selectSP_ProjectTechnique_S01" parameterType="java.util.Map" resultType="java.util.Map">
	-- selectSP_ProjectTechnique_S01
	SELECT 
		P.PROJECT_CODE,
		CL.CONTRACT_NO,
		P.CLIENT_CODE,
		CL.CONTRACT_NAME,
		RTS.RTS_SEQ,
		RTS.TECH_TYPE,
		DATE_FORMAT(RTS.WORK_START_DATE, '%Y%m%d') AS WORK_START_DATE,
		DATE_FORMAT(RTS.WORK_END_DATE, '%Y%m%d') AS WORK_END_DATE,
		RTS.WORK_TOTAL_TIME,
		RTS.WORK_EMP_NO,
		VE.EMP_NM AS WORK_EMP_NAM,
		RTS.REQUEST_CONTENTS,
		RTS.WORK_CONTENTS,
		RTS.CONFIRM_CD,
		CASE
			WHEN RVL.CNT <![CDATA[>]]> 0 THEN 'O'
			ELSE 'X'
		END AS RVL_YN
	FROM SALES_PROJECT_LIST P
	JOIN SALES_CONTRACT_LIST CL
		ON P.PROJECT_CODE = CL.PROJECT_CODE
		AND CL.DELETE_FLAG = '0'
	JOIN SALES_REQUEST_TECHNICAL_STAFF RTS
		ON CL.CONTRACT_NO = RTS.CONTRACT_NO
	LEFT JOIN (
		SELECT RTS_SEQ, COUNT(*) AS CNT
		FROM SALES_REGULAR_VISIT_LIST
		WHERE WORK_SIGN IS NOT NULL
		GROUP BY RTS_SEQ
	) RVL 
		ON RVL.RTS_SEQ = RTS.RTS_SEQ
	LEFT JOIN T_SYTM_USER VE
		ON RTS.WORK_EMP_NO = VE.EMP_NO
	WHERE P.DELETE_FLAG = '0'
	AND P.PROJECT_CODE = #{PROJECT_CODE}
	<if test="TECH_TYPE != null and TECH_TYPE != ''">
		AND RTS.TECH_TYPE = #{TECH_TYPE}
	</if>
	ORDER BY RTS.WORK_START_DATE DESC, CL.CONTRACT_NO, RTS.RTS_SEQ;
</select>

<select id="selectTR_RequestSIStaffReg_S01_1" parameterType="java.util.Map" resultType="java.util.Map">
	-- selectTR_RequestSIStaffReg_S01_1
	SELECT  
		RSS.RSS_SEQ,
		CL.CO_CD,
		P.PROJECT_CODE,
		P.PROJECT_NAME,
		RSS.CONTRACT_NO,
		CL.RELATED_CONTRACT_NO,
		CL.CONTRACT_NAME,
		P.CLIENT_CODE,
		COM.COMPANY_NAME AS CLIENT_NAME,
		RSS.REQUEST_TYPE,
		RSS.CHECK_TYPE,
		DATE_FORMAT(RSS.REQUEST_START_DATE, '%Y%m%d') AS REQUEST_START_DATE,
		DATE_FORMAT(RSS.REQUEST_END_DATE, '%Y%m%d') AS REQUEST_END_DATE,
		RSS.AREA_CODE,
		RSS.WORK_CONTENTS,
		DATE_FORMAT(RSS.INSERT_DATE, '%Y%m%d') AS INSERT_DATE,
		RSS.INSERT_EMP_NO,
		VE.EMP_NM AS INSERT_EMP_NAME,
		CL.PRODUCT_CODE,
		PD.PRODUCT_NAME,
		IFNULL(PSE.CNT, 0) AS CNT
	FROM    
		SALES_REQUEST_SI_STAFF RSS
	JOIN    
		SALES_CONTRACT_LIST CL ON RSS.CONTRACT_NO = CL.CONTRACT_NO
		AND CL.DELETE_FLAG = '0'
	JOIN    
		SALES_PROJECT_LIST P ON CL.PROJECT_CODE = P.PROJECT_CODE
		AND P.DELETE_FLAG = '0'
	LEFT JOIN   
		SALES_PRODUCT_LIST PD ON PD.PRODUCT_CODE = CL.PRODUCT_CODE
	LEFT JOIN   
		(SELECT  
			RSSD.RSS_SEQ,
			COUNT(PSE.PSE_SEQ) AS CNT
		 FROM    
			SALES_REQUEST_SI_STAFF_DETAIL RSSD
		 JOIN    
			SALES_REQUEST_SI_STAFF_CONFIRM RSSC ON RSSD.RSSD_SEQ = RSSC.RSSD_SEQ
		 LEFT JOIN   
			SALES_PROJECT_SI_EMP PSE ON RSSC.RSSC_SEQ = PSE.RSSC_SEQ
		 GROUP BY RSSD.RSS_SEQ
		) PSE ON PSE.RSS_SEQ = RSS.RSS_SEQ
	LEFT JOIN   
		SALES_COMPANY_LIST COM ON P.CLIENT_CODE = COM.COMPANY_CODE
	LEFT JOIN   
		T_SYTM_USER VE ON RSS.INPT_ID = VE.EMP_NO
	WHERE   
		RSS.RSS_SEQ = #{RSS_SEQ};
	
</select>

<select id="selectTR_RequestSIStaffReg_S01_2" parameterType="java.util.Map" resultType="java.util.Map">
	-- selectTR_RequestSIStaffReg_S01_2
	SELECT  
		RSSD.RSSD_SEQ,
		RSSD.RSS_SEQ,
		RSSD.ROLE_CODE,
		RSSD.LEVEL_CODE,
		RSSD.UNIT_COST,
		RSSD.MEN_MONTH,
		RSSD.SKILL_1,
		RSSD.SKILL_2,
		DATE_FORMAT(RSSD.START_DATE, '%Y%m%d') AS START_DATE,
		DATE_FORMAT(RSSD.END_DATE, '%Y%m%d') AS END_DATE,
		RSSD.REMARKS,
		CASE 
			WHEN IFNULL(RSSC.CONFIRM_CNT, 0) = 0 THEN '0'
			WHEN IFNULL(RSSC.RSSC_CNT, 0) = IFNULL(RSSC.CONFIRM_CNT, 0) THEN '2'
			ELSE '1'
		END AS CONFIRM_CD,
		IFNULL(RSSC.RSSC_CNT, 0) AS RSSC_CNT,
		IFNULL(RSSC.CONFIRM_CNT, 0) AS CONFIRM_CNT,
		-- #{PRODUCT_NAME} AS PRODUCT_NAME,
		DATE_FORMAT(IFNULL(RSSD.CHGE_DTTM, RSSD.INPT_DTTM), '%Y%m%d') AS UPDATE_DATE,
		VE.EMP_NM AS UPDATE_EMP_NAME
	FROM    
		SALES_REQUEST_SI_STAFF_DET RSSD
	LEFT JOIN (
		SELECT  
			RSSC.RSSD_SEQ,
			COUNT(*) AS RSSC_CNT,
			SUM(CASE
				WHEN RSSC.EMP_NO IS NULL THEN 0
				WHEN RSSC.EMP_NO = '' THEN 0
				ELSE 1
			END) AS CONFIRM_CNT
		FROM    
			SALES_REQUEST_SI_STAFF_CONFIRM RSSC
		JOIN    
			SALES_PROJECT_SI_EMP PSE ON PSE.RSSC_SEQ = RSSC.RSSC_SEQ
		GROUP BY RSSC.RSSD_SEQ
	) RSSC ON RSSD.RSSD_SEQ = RSSC.RSSD_SEQ
	LEFT JOIN   
		T_SYTM_USER VE ON VE.EMP_NO = IFNULL(RSSD.CHGE_ID, RSSD.INPT_ID)
	WHERE   
		RSSD.RSS_SEQ = #{RSS_SEQ}
	AND     
		RSSD.RSSD_SEQ IN (
			SELECT  
				RSSC.RSSD_SEQ
			FROM    
				SALES_REQUEST_SI_STAFF_CONFIRM RSSC
			JOIN    
				SALES_REQUEST_SI_STAFF_DETAIL RSSD ON RSSD.RSSD_SEQ = RSSC.RSSD_SEQ
			JOIN    
				SALES_REQUEST_SI_STAFF RSS ON RSS.RSS_SEQ = RSSD.RSS_SEQ
			JOIN    
				SALES_CONTRACT_LIST CL ON CL.CONTRACT_NO = RSS.CONTRACT_NO
				AND CL.DELETE_FLAG = '0'
			WHERE   
				CASE
					WHEN #{SERVER_CO_CD} = CL.CO_CD THEN '1'
					WHEN RSSC.OTHER_CONFIRM_DATE IS NULL THEN '0'
					ELSE '1'
				END = '1'
		)
	ORDER BY 
		RSSD.RSSD_SEQ;	
</select>

<select id="selectTR_RequestSIStaffReg_S01_3" parameterType="java.util.Map" resultType="java.util.Map">
	-- selectTR_RequestSIStaffReg_S01_3
	SELECT  
		RSSD.RSS_SEQ,
		RSSD.RSSD_SEQ,
		RSSC.RSSC_SEQ,
		RSSC.EMP_NO,
		VED.EMP_NM AS EMP_NAME,
		VED.COMPANY_CD AS CO_CD,
		COMP.COMPANY_NAME AS CO_NAME,
		RSSC.ROLE_CODE,
		RSSC.LEVEL_CODE,
		RSSC.UNIT_COST,
		CASE
			WHEN RSSD.UNIT_COST IS NULL THEN NULL
			WHEN RSSD.UNIT_COST = 0 THEN 0
			ELSE (IFNULL(RSSC.UNIT_COST, 0) + IFNULL(RSSC.EXPENSE, 0)) / RSSD.UNIT_COST * 100
		END AS PER_UNIT_COST,
		RSSC.EXPENSE,
		RSSC.MEN_MONTH,
		DATE_FORMAT(RSSC.START_DATE, '%Y%m%d') AS START_DATE,
		DATE_FORMAT(RSSC.END_DATE, '%Y%m%d') AS END_DATE,
		RSSC.NONRESIDENT_FLAG,
		RSSC.FREE_SVC_FLAG,
		RSSC.REMARKS,
		CASE
			WHEN PSE.CNT > 0 THEN '1'
			ELSE '0'
		END AS PSE_FLAG,
		DATE_FORMAT(IFNULL(RSSC.UPDATE_DATE, RSSC.INSERT_DATE), '%Y%m%d') AS UPDATE_DATE,
		VE.EMP_NM AS UPDATE_EMP_NAME,
		CASE
			WHEN RSSC.OTHER_CONFIRM_DATE IS NULL THEN '0'
			ELSE '1'
		END AS OTHER_CONFIRM_FLAG,
		DATE_FORMAT(RSSC.OTHER_CONFIRM_DATE, '%Y-%m-%d') AS OTHER_CONFIRM_DATE,
		RSSC.OTHER_UNIT_COST,
		RSSC.OTHER_EXPENSE
	FROM    
		SALES_REQUEST_SI_STAFF_DETAIL RSSD
	JOIN    
		SALES_REQUEST_SI_STAFF_CONFIRM RSSC ON RSSD.RSSD_SEQ = RSSC.RSSD_SEQ
	JOIN    
		SALES_REQUEST_SI_STAFF RSS ON RSS.RSS_SEQ = RSSD.RSS_SEQ
	JOIN    
		SALES_CONTRACT_LIST CL ON CL.CONTRACT_NO = RSS.CONTRACT_NO
		AND CL.DELETE_FLAG = '0'
	LEFT JOIN (
		SELECT  
			RSSC_SEQ,
			COUNT(*) AS CNT
		FROM    
			SALES_PROJECT_SI_EMP
		WHERE   
			DELETE_FLAG = '0'
		GROUP BY 
			RSSC_SEQ
	) PSE ON RSSC.RSSC_SEQ = PSE.RSSC_SEQ
	LEFT JOIN   
		T_SYTM_USER VED ON RSSC.EMP_NO = VED.EMP_NO
		AND VED.MAIN_DEPT_FLAG = '1'
	LEFT JOIN   
		SALES_COMPANY_LIST COMP ON COMP.COMPANY_CODE = VED.COMPANY_CD
	LEFT JOIN   
		T_SYTM_USER VE ON VE.EMP_NO = IFNULL(RSSC.CHGE_ID, RSSC.INPT_ID)
	WHERE   
		RSSD.RSS_SEQ = #{RSS_SEQ}
	AND     
		CASE
			WHEN #{SERVER_CO_CD} = CL.CO_CD THEN '1'
			WHEN RSSC.OTHER_CONFIRM_DATE IS NULL THEN '0'
			ELSE '1'
		END = '1'
	ORDER BY 
		RSSD.RSSD_SEQ, RSSC.RSSC_SEQ, RSSC.EMP_NO;
</select>

<select id="selectTR_RequestSIStaffReg_S01_4" parameterType="java.util.Map" resultType="java.util.Map">
	-- selectTR_RequestSIStaffReg_S01_4
	SELECT  
		RSSD.RSS_SEQ,
		RSSD.RSSD_SEQ,
		RSSC.RSSC_SEQ,
		PSE.PSE_SEQ,
		PSE1.PSE_SEQ AS RELATED_PSE_SEQ,
		PSE.CONTRACT_NO,
		PSE.CONTRACT_NO_PURCHASE,
		PSE.EMP_NO,
		VED.EMP_NM AS EMP_NAME,
		VED.COMPANY_CD AS CO_CD,
		COMP.COMPANY_NAME AS CO_NAME,	
		PSE.ROLE_CODE,
		PSE.LEVEL_CODE,
		CASE
			WHEN CL.CO_CD = #{SERVER_CO_CD} THEN PSE.UNIT_COST
			ELSE PSE1.UNIT_COST
		END AS UNIT_COST,
		CASE
			WHEN CL.CO_CD = #{SERVER_CO_CD} THEN PSE.EXPENSE
			ELSE PSE1.EXPENSE
		END AS EXPENSE,
		PSE.MEN_MONTH,
		DATE_FORMAT(PSE.START_DATE, '%Y%m%d') AS START_DATE,
		DATE_FORMAT(PSE.END_DATE, '%Y%m%d') AS END_DATE,
		PSE.NONRESIDENT_FLAG,
		PSE.FREE_SVC_FLAG,
		PSE.REMARKS,
		PSE.START_CHANGE_REASON,
		PSE.EARLY_OUT_FLAG,
		PSE.EARLY_OUT_REASON,
		CASE CL.CO_CD
			WHEN #{SERVER_CO_CD} THEN ''
			ELSE 'GREEN'
		END AS COLOR,
		NULL AS OTHER_UNIT_COST,
		NULL AS OTHER_EXPENSE,
		CASE
			WHEN RSSC.OTHER_CONFIRM_DATE IS NULL THEN '1'
			WHEN RSSC.OTHER_CONFIRM_DATE IS NOT NULL AND #{SERVER_CO_CD} = 'UNIDIA' THEN '1'
			ELSE '0'
		END AS EDIT_FLAG
	FROM    
		SALES_REQUEST_SI_STAFF_DETAIL RSSD
	JOIN    
		SALES_REQUEST_SI_STAFF_CONFIRM RSSC ON RSSC.RSSD_SEQ = RSSD.RSSD_SEQ
	JOIN    
		SALES_PROJECT_SI_EMP PSE ON PSE.RSSC_SEQ = RSSC.RSSC_SEQ
		AND PSE.DELETE_FLAG = '0'
		AND PSE.RELATED_PSE_SEQ IS NULL
	JOIN    
		SALES_CONTRACT_LIST CL ON CL.CONTRACT_NO = PSE.CONTRACT_NO
	LEFT JOIN   
		T_SYTM_USER VED ON VED.EMP_NO = PSE.EMP_NO
		AND VED.MAIN_DEPT_FLAG = '1'
	LEFT JOIN   
		SALES_COMPANY_LIST COMP ON COMP.COMPANY_CODE = VED.COMPANY_CD	
	LEFT JOIN   
		SALES_PROJECT_SI_EMP PSE1 ON PSE1.RELATED_PSE_SEQ = PSE.PSE_SEQ
	WHERE   
		RSSD.RSS_SEQ = #{RSS_SEQ}
	AND     
		CASE
			WHEN 'A01' = #{SERVER_CO_CD} THEN '1'
			WHEN CL.CO_CD = #{SERVER_CO_CD} THEN '1'
			ELSE '0'
		END = '1'
	ORDER BY 
		RSSD.RSSD_SEQ, RSSC.RSSC_SEQ, RSSC.EMP_NO;
</select>

<select id="selectTR_RequestSIStaffReg_S02" parameterType="java.util.Map" resultType="java.util.Map">
	-- selectTR_RequestSIStaffReg_S02
	SELECT  
		PSE.EMP_NO,
		VE1.EMP_NM AS EMP_NAME,
		CLI.COMPANY_CODE AS CLIENT_CODE,
		CLI.COMPANY_NAME AS CLIENT_NAME,
		PRJ.PROJECT_CODE,
		PRJ.PROJECT_NAME,
		DATE_FORMAT(PSE.START_DATE, '%Y%m%d') AS START_DATE,
		DATE_FORMAT(IFNULL(PSE.END_DATE, PSE.END_PLAN_DATE), '%Y%m%d') AS END_DATE,
		CL.CONTRACT_NO,
		CL.CONTRACT_NAME,
		VE2.EMP_NM AS SALES_EMP_NAME,
		#{ROW} AS ROW
	FROM    
		SALES_PROJECT_SI_EMP PSE
	LEFT JOIN   
		SALES_CONTRACT_LIST CL ON PSE.CONTRACT_NO = CL.CONTRACT_NO
	LEFT JOIN   
		SALES_PROJECT_LIST PRJ ON CL.PROJECT_CODE = PRJ.PROJECT_CODE
	LEFT JOIN   
		SALES_COMPANY_LIST CLI ON PRJ.CLIENT_CODE = CLI.COMPANY_CODE
	LEFT JOIN   
		T_SYTM_USER VE1 ON PSE.EMP_NO = VE1.EMP_NO
	LEFT JOIN   
		T_SYTM_USER VE2 ON CL.SALES_EMP_NO = VE2.EMP_NO
	WHERE   
		PSE.EMP_NO = #{EMP_NO}
	AND     
		PSE.NONRESIDENT_FLAG = '0'
	AND     
		PSE.DELETE_FLAG = '0'
	AND     
		PSE.RELATED_PSE_SEQ IS NULL
	AND     
		(
			(#{START_DATE} BETWEEN DATE_FORMAT(PSE.START_DATE, '%Y%m%d') AND DATE_FORMAT(PSE.END_DATE, '%Y%m%d'))
			OR (#{END_DATE} BETWEEN DATE_FORMAT(PSE.START_DATE, '%Y%m%d') AND DATE_FORMAT(PSE.END_DATE, '%Y%m%d'))
			OR (DATE_FORMAT(PSE.START_DATE, '%Y%m%d') BETWEEN #{START_DATE} AND #{END_DATE})
			OR (DATE_FORMAT(PSE.END_DATE, '%Y%m%d') BETWEEN #{START_DATE} AND #{END_DATE})
		)
	<if test="PSE_SEQ != null and PSE_SEQ != ''">
		AND PSE.PSE_SEQ != #{PSE_SEQ}
	</if>
	ORDER BY 
		DATE_FORMAT(IFNULL(PSE.END_DATE, PSE.END_PLAN_DATE), '%Y%m%d') DESC;
</select>

</mapper>
